<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>
    <body id="app">
        <h1>Shopping List</h1>

        <form>
            <p>What do you need?</p>
            <input type="text" placeholder="item name" v-model="name">
            <p>How many?</p>
            <input type="number" placeholder="number of items" v-model="number">
            <br><br>
            <input type="button" value="Add item" v-on:click="addition(name,number)">
        </form>

        <div id="shopping-list">
            <p>Shopping list:</p>
            <ul>
                <li v-for="x in items">{{x.name + " " + x.quantity}}</li>
            </ul>
        </div>

        <script>
            const app = Vue.createApp({
                data(){
                    return{
                        items:[
                            {
                                name:"",
                                quantity:0,
                            }
                        ]
                    }
                },
                methods: {
                    addition(name,number) {
                        item={
                            name: name,
                            quantity: number
                        }
                        this.items.push(item);
                    }
                }
            })

            app.mount("#app")
        </script>
    </body>
</html>